@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {box-sizing: border-box;}

img {max-width: 100%;}

body {
    font-family: 'Roboto';
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.top {
    background-color: #46383d;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    color: white;
}

.top a {
    color: white;
    margin: 0 1rem;
}

address {
    font-style: normal;
    margin-right: 2rem;
}

address a {
    border-left: 1px solid white;
    padding-left: 1rem;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.topnav {
    overflow: hidden;
    background-color: #e4d3c9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #121212;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav .icon {
    display: none;
  }


nav img {
    max-width: 200px;
}

.heroimg {
    display: flex;
    color: white;
}

.heroimg img {
    object-fit:cover;
    width: 65%;
}

.heroimg-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1a111e;
    width: 35%;
    min-width: 400px;
    padding: 2rem 2rem 3rem;
}

.heroimg-txt h1 {
    max-width: 300px;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 2rem;
    color: #d8c7ab;
}

h1 {
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 1.75rem;
}

h2 {
    font-family: 'Playfair Display';
}

button {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #caba9f;
    font-weight: 600;
    color: rgb(27, 27, 27);
    min-width: 125px;
}

button:hover {
    background-color: #e2cfb0;
}

.txt {
    width: 700px;
    margin: 5rem 10%;
}

main section {
    background-image: url("../bilder/img2.jpg");
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

main section h2 {
    color: white;
    margin: 2.5rem 0;
}

.board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    position: relative;
    display: flex;
    flex: 0 1 325px;
    flex-direction: column;
    height: 250px;
    padding: 3rem;
    background-color: #20191c;
}

.box p {
    margin: 0;
    color: white;
}

.box img {
    width: 50px;
    height: auto;
    margin: auto;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #181113;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
}

.box:hover .overlay {
    bottom: 0;
    height: 100%;
  }

.overlay ul {
    padding: 0;
    list-style: none;
    margin: auto;
    color: white;
}

.overlay ul li {
    margin-bottom: 0.75rem;
}

.cardboard { 
    margin: 8rem 1rem 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #ece4e1;
    position: relative;
    min-width: 245px;
    height: 325px;
    text-align: center;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
    margin-bottom: 6rem;
}

.title {
    border-bottom: 1px solid black;
    width: 700px;
    margin: 5rem 10%;
}

.card h2 {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.profil {
    position: absolute;
    border-radius: 50%;
    background-color: tomato;
    width: 175px;
    height: auto;
    top: -75px;
    text-align: center;
    box-shadow: 3px 5px 7px rgb(109, 109, 109);
    object-fit:cover;
}

footer {
    background-color: #46383d;
    padding: 0.5rem 0;
    color: white;
}

footer ul {
    display: flex;
    text-align: center;
    justify-content: center;
}

footer li {
    margin: 0 0.5rem;
}

footer a {
    color: white;
}

.content {
    background-color: rgb(221, 221, 221);
    background-image: url(../bilder/img3.jpg);
    background-repeat: no-repeat;
    margin: 0 2rem;
    text-align: center;
}

.content img {
    width: 100%s;
}
  
  @media screen and (max-width: 600px) {
    .top address {display: none;}
    .topnav {justify-content: space-around;}
    .topnav a:not(:nth-child(3)) {display: none;}
    .topnav a {padding: 0;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        flex-direction: column;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0 1rem;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      padding: 14px 0;
    }
    .topnav.responsive .logo {display: none;}
    .cardboard {
        flex-direction: column;
        margin: auto;
    }
    .card {
        width: 70%;
        height: 145px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3rem;
        margin-left: 8rem;
        padding-bottom: 1.5rem;
    }
    .profil {
        width: 160px;
        height: auto;
        top: -10px;
        left: -100px;
    }
    .title {
        width: 75%;
        margin: 5rem 10%;
    }
  }

  @media only screen and (max-width: 900px) {
    /* For desktop: */
    .heroimg-txt {width: 100%;}
    .heroimg img {display: none;}
    .txt {width: 75%;}
  }

  @media screen and (max-width: 666px) {
    .board {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .box {
        position: relative;
        flex: 0 1 90%;
        height: auto;
        padding: 1.5rem;
    }
    .box p {
        text-align: left;
    }
    .box img {
        display: none;
    }
    .overlay {
        position: relative;
        bottom: 0%;
        background-color: rgba(0, 0, 0, 0);
        margin-top: 0.3rem;
    }
    .overlay ul {
        margin: 1rem 0;
        text-align: left;
    }   
  }

  @media only screen and (max-width: 480px) {
    /* For phones: */
    .heroimg-txt {min-width: auto;}
    .card {
        width: 100px;
        height: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3rem;
        margin-left: 25%;
        padding-top: 1.25rem;
    }
    .card h2 {
        font-size: 0.85rem;
        padding-bottom: 0.5rem;
    }
    .card button {display: none;}
    .profil {
        width: 75px;
        height: auto;
        top: -10px;
        left: -25%;
    }
  }
